
@import './base/variables.scss';
@import './base/commun.scss';
@import './base/normalized';

.home {
    padding-top: 40px;
    width: 100%;
    &Container {
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    //Page title
    &-title {
        align-items: center;
        display: flex;
        flex-direction: column;;
        >h1 {
            background: -webkit-gradient(linear, left top, left bottom, from($home_primary_background), to($home_secondary_background));
            font-size: 48px;
            font-weight: 400;
            letter-spacing: 1px;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        >h2 {
            letter-spacing: 2px;
            >span {
                background: -webkit-gradient(linear, left top, left bottom, from($home_primary_background), to($home_secondary_background));
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        > div {
            background-color: $home_form_primary_background;
            border-radius: 6px;
            font-size: 14px;
            padding: 15px;
            margin-bottom: 50px;
            >h3 {
                font-weight: 500;
            }
        }
    }
    //Form general
    &-form {
       // background: $home_form_primary_background;
        border-left: 7px solid $home_primary_background;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
        border-radius: 5px;
        display: flexbox;
        flex-direction: column;
        margin: 5px 0 30px 0;
        padding: 20px;
        &Container {
            >h3 {
                display: flex;
                justify-content: center;
                padding: 0;
            }
        }
        //Vocabulary Container
        &-vocContainer {
            margin-top: 25px;
        }
        &-field {
            align-items: center;
            display: flex;
            margin-top: 5px;
            >label {
                display: flex;
                align-items: center;
            }
            &-submission {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                margin-top: 20px;
                > p {
                    text-align: center;
                    font-size: 10px;
                    >span{
                        color: red;
                    }
                    > em {
                        padding-top: 1%;
                    }
                }
            }
            //general
            >* {
                padding: 5px;
            }
            //voc
            &-word,
            &-definition,
            &-pageOrSlide {
                margin-bottom: 25px;
                >p {
                    margin: 0;
                }
            }
            &-pageOrSlide {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
            //error
            &-error {
                background: $error_primary_background;
                border: 1px solid $error_primary_border;
                color: $error_primary_fontColor;
                font-weight: bold;
                padding: 8px;
                border-radius: 5px;
                margin-left: 5px;
            }
            //storyline
            &-storyline {
                margin-left: 5px;
                display: flex;
                flex-direction: column;
                >div {
                    align-items: center;
                    display: flex;
                }
                >textarea {
                    background: none;
                    border: 1px solid $home_form_primary_border;
                    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
                    padding: 5px;
                }
            }
        }
        //Form 1 -- General
        &-inputText {
            width: 153px;
        }
        &-selectMenu {
            background: none;
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
            cursor: pointer;
            padding: 2px;
        }
        &-checkbox {
            cursor: pointer;
            vertical-align: middle;
            height: 30px;
            margin-left: 10px;
            &:checked {
                animation: wave .4s ease;
            }
        }
        //Form 2 -- Add vocabulary
        &-title {
            >span,
            a {
                background: -webkit-gradient(linear, left top, left bottom, from($home_primary_background), to($home_secondary_background));
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}

///General
#definition {
    width: 380px;
}

#numberOfStudents {
    width: 153px;
}

.hideError {
    // visibility: hidden;
    display: none;
}
.submitButton {
    font-size: 15px;
    margin: auto;
    padding: 5px;
    text-decoration: none;
    background: $button_primary_background;
    border: none;
    border-radius: 5px;
    transition: all 0.4s ease 0s;
    &:hover {
        text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
        -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        transition: all 0.4s ease 0s;
      cursor: pointer;
    }
}

.search-box {
    width: 350px;
}

.pageNumber {
    width: 50px;
}

body {
     padding-block-end: 72px;
}

.search-result {
    position: absolute;
    width: 350px;
    border-radius: 0 0 5px 5px;
    background: white;
    border: 1px grey solid;
    box-shadow: 1px 2px #888888;
    
    .result {
        list-style-type: none;
        width: 100%;
        padding: 4px 0 4px 10%;
    }

    .result:hover{
        background: dimgray;
    } 
}

ul {
    padding-inline-start: 0;
}
 

form {
    display: flex;
    flex-direction: column;
}

footer {
    align-items: center;
    background-color: $home_form_primary_background;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 14px;
    margin-top: 40px;
    > div {
        text-align: center;
    }
}
   

.question {
    &-arrowLeft {
        width: 0; 
        height: 0; 
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid lightblue;
        bottom: 20px;
        position: absolute;
    }
    &Container {
      
        display: inline;
        &:hover 
            {
                > * {
                    visibility: visible !important;
                }
            }
        }
    background: $home_primary_background;
    color: white;
    border-radius: 5px;
    border-radius: 50%;
    padding: 1px 5px;
    margin-left: 5px;
    font-size: 13px;
    position: relative;
    &:hover {
        cursor: pointer;
    }
    &-toolTip{
        background: -webkit-gradient(linear, left top, left bottom, from(white), to($home_primary_background));
        font-size: 13px;
        margin-left: 5px;
        padding: 3px;
        position: absolute;
        visibility: hidden;
        width: 300px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
        -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
        -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
        z-index: 10;
    }
}
#flex {
    display: flex;
}

#dawson {
    height: 60px;
}