/**
In this file, are all the commun rules for the app
(Including normalize.scss)
**/



* {
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif !important;
  }
  
//Commun -- Error
  .errorMessage {
    background: $error_primary_background;
    border:  $error_primary_border;
    color: $error_primary_fontColor;
    font-weight: bold;
    padding: 20px;
  }
  
  //Commun -- Input
  input {
    background: none;
    border: none;
    border-bottom:1px solid $home_form_primary_border;
    padding-bottom: 15px;
  }
  
  //Commun -- Input and button defaults
  input, button {
    &:focus {
      outline:none;
    }
  }