/**
In this file, all the colors used in the app are defined
**/

//Home component -- Background
$home_primary_background: #22c1c3;
$home_secondary_background:#1c92d2;
$home_tertiary_background: skyblue;

//Home form -- Background
$home_form_primary_background: #f4f7f8;
//Home form -- Font Color
$home_form_button_primary_fontColor: white;
//Home form -- Border
$home_form_primary_border: black;

//Error -- Background
$error_primary_background: lightpink;
//Error -- Font Color
$error_primary_fontColor: red;
//Error -- Border
$error_primary_border: red;